body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    max-width: 100%;
    background: var(--baseD);
    overflow-x: hidden;
    user-select: none !important;
}

/* ############################### */

*,
::after,
::before {
    box-sizing: border-box;
}

/* ############################### */

body {
    &[data-aos-easing=sleek] [data-aos] {
        transition-timing-function: var(--sleek);
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--baseD);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--basesecondaryD);
        border-radius: 10px;

        &:hover {
            background: var(--accentD);
        }

        &:active {
            background: var(--accentsecondaryD);
        }
    }
}

[data-aos][data-aos][data-aos-easing=sleek] {
    transition-timing-function: var(--sleek);
}

@font-face {
    font-family: Inter;
    src: url(../font/Inter.var.woff2) format("truetype-variations");
    font-weight: 1 1000;
    letter-spacing: -62px;
}

@font-face {
    font-family: Syne;
    src: url(../font/Syne[wght].ttf) format("truetype-variations");
    font-weight: 1 1000;
}

@font-face {
    font-family: JetBrains Mono;
    src: url(../font/JetBrainsMono[wght].ttf) format("truetype-variations");
    font-weight: 1 1000;
}

a {
    text-decoration: none !important;
    color: initial;

    &:link,
    &:visited {
        text-decoration: none !important;
        color: currentColor;
    }
}

:root {
    --loaderD: url("../../img/local/spinnerD.gif");
    --loaderL: url("../../img/local/spinnerL.gif");
    --display: Syne;
    --content: Inter;
    --contentsecondary: JetBrains Mono;
    --sleek: cubic-bezier(0.03, 0.77, 0.34, 1);
    --accel: cubic-bezier(0.72, 0.06, 0.96, 0.57);
    --anchorhead: cubic-bezier(0.24, 0.01, 0.01, 1);
    --bounce: cubic-bezier(0.57, 0.07, 0.41, 1.95);

    --brightnessD: brightness(1.2);
    --brightnessL: brightness(.8);
}