---
import Gridbox from "../../layouts/Gridbox.astro";
import CardObject from "../../components/Card-object.astro";
import B2GalleryIndex from "../b2Gallery_index.astro";
import B2Gallery from "../b2Gallery.astro";
import MediaCard from "../MediaCard.astro";
---

<div class="centering">
  <div id="pageLabel">
    <div class="menuMessageBox mini">Welcome!</div>
  </div>

  <Gridbox id="about">
    <CardObject
      image={{
        src: "/content/illus/artist.jpg",
        alt: "Artist mary",
        position: "center",
      }}
      size="extraTall"
    />
    <CardObject
      isTextCard
      title="Hello!"
      titleSize="bigger"
      content="Here are all the places you can find me."
      contentSize="regRead"
      alignText="right"
      size="wide"
    />
    <CardObject
      isTextCard
      title="Hello!"
      titleSize="big"
      content="Here are all the places you can find me."
      contentSize="regRead"
      alignText="right"
      size="wide"
    />
    <CardObject
      isTextCard
      title="Hello!"
      titleSize="huge"
      content="Here are all the places you can find me."
      contentSize="regRead"
      alignText="right"
      size="wide"
    />
    <CardObject
      image={{
        src: "/content/illus/justBanner.jpg",
        alt: "min banner",
        position: "right",
      }}
      size="mediumWide"
    />

    <div
      class="cards arrowCard material-symbols-rounded"
      style="font-size: 250px; display: grid; place-items: center;"
    >
      arrow_downward
    </div>

    <CardObject
      isLink
      href="#"
      image={{
        src: "/content/linkosBanner/s.twt1.jpg",
        alt: "min banner",
        position: "left",
      }}
      content="twitter.potto22"
    />
    <CardObject
      isLink
      href="#"
      image={{
        src: "/content/linkosBanner/s.twt2.jpg",
        alt: "min banner",
        position: "left",
      }}
      content="twitter.pottosmuts"
    />
    <CardObject
      isLink
      href="#"
      image={{
        src: "/content/linkosBanner/s.bsky.jpg",
        alt: "min banner",
        position: "left",
      }}
      content="bsky.potto"
    />
  </Gridbox>

  <Gridbox deflateBottom id="gall">
    <CardObject
      isTextCard
      size="superWide"
      title="Gallery."
      titleSize="mediumWide"
      content="<i>::Latest few works.</i>"
      contentSize="small"
      fontOverrideContent="var(--contentSecondary)"
      isInvisible
    />
  </Gridbox>

  <B2GalleryIndex />
  <!-- <B2Gallery /> -->

  <a href="./gallery" class="wideGo">
    <div class="wideGoTitle">
      Open full archive
      <svg class="dynamicarrow" viewBox="0 0 10 10">
        <g>
          <path class="line" d="M0 5h7"></path>
          <path class="arrow" d="M1 1l4 4-4 4"></path>
        </g>
      </svg>
    </div>
  </a>

  <Gridbox>
    <MediaCard
      image={{
        src: "/content/illus/artist.jpg",
        alt: "Artist mary",
        position: "center",
      }}
    />
    <MediaCard
      image={{
        src: "/content/illus/secondmonth.jpg",
        alt: "lorem ipsum dolor sit amet consectetur adipiscing elit",
        position: "center",
      }}
    />
    <MediaCard
      video={{
        src: "/content/modesig/rat.mp4",
        alt: "rat",
        volume: .2
      }}
    />
  </Gridbox>
</div>

<style lang="scss">
  @use "../../../src/styles/_mixins" as *;
  .centering {
    background: var(--base);
    transition: background 0.2s var(--sleek);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    user-select: none;
    @include breakpoint(tablet) {
      padding: 2em;
    }
  }
  #pageLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
  .label {
    position: relative;
    display: flex;
    justify-content: center;
    background: var(--fore);
    font-size: 2rem;
    font-family: var(--display);
    font-weight: 700;
    padding: 0.2em 0.5em;
    color: var(--base);
    border-radius: 15px;
    min-height: 51.78px;
    min-width: 4rem;
    transition:
      background 0.2s var(--sleek),
      color 0.2s var(--sleek);
  }

  .labelLoadCont {
    position: absolute;
    display: flex;
  }
  .labelLoad {
    animation: shakeVert 1s infinite;
    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
  }
  @keyframes dotBounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .labelSecondary {
    font-family: var(--doto);
    font-size: 1rem;
    margin-top: 0.5em;
    color: var(--accent);
    font-weight: bold;
    transition: color 0.2s var(--sleek);
  }
  .menuMessageBox {
    position: relative;
    color: var(--fore);
    padding: 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    margin-top: 2em;
    font-size: 1.3rem;
    font-family: var(--content);
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.205);
    @include breakpoint(tiny, mobile) {
      width: 95%;
    }
    @include breakpoint(tablet) {
      width: 100%;
    }

    &.slotStat {
      display: none;
    }
    &.mini {
      font-size: 1rem;
      color: var(--fore);
      margin-top: 1em;
      width: 100%;
      max-width: 100%;
      padding: 0.5em 1em;
      border: 2px solid var(--fore);
      justify-content: center;
      box-shadow: none;
      & .b7 {
        margin-left: 0.2rem;
      }
    }
  }
  .mmMsgBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mmIconBox {
    --size: 70px;
    width: calc(var(--size) + (var(--size) / 4));
    min-width: calc(var(--size) + (var(--size) / 4));
    height: var(--size);
    margin-right: 1em;
    border-right: 2px solid var(--fore);
    background-position: left !important;
    background-repeat: no-repeat !important;
  }
  .mmMsgTitle {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .mmMsg {
    padding-top: 0.1em;
  }
</style>
