---
interface Props {
  id?: string;
  className?: string;
  deflateBottom?: boolean;
  deflateTop?: boolean;
}
const { id, className, deflateBottom, deflateTop } = Astro.props;
---

<div
  class=`mainGrid ${className || ""}`
  id={id}
  style=`${deflateBottom ? "padding-bottom: 0;" : ""} ${deflateTop ? "padding-top: 0;" : ""}`
>
  <slot />
  <!-- grid content -->
</div>

<style lang="scss">
  @use "../styles/mixins" as *;

  .mainGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 300px;
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: var(--content);
    background: var(--base);
    //background: red;
  }
</style>
