---
import Cardobject from "../components/Card-object.astro"
---

<div class="mainGrid grid gap-6 auto-rows-[300px] w-4/5 py-16 bg-zinc-100 font-(family-name:--content)">
    
    <Cardobject
  isTextCard
  title="Hello!"
  titleSize="huge"
  content="Here are all the places you can find me."
  contentSize="bigger"
  size="wide"
  class="bg-amber-300"
/>

<Cardobject
  image={{
    src: "/content/illus/artist.jpg",
    alt: "Project thumbnail",
    position: "center"
  }}
  title="View Projects"
/>
<Cardobject
  image={{
    src: "/content/illus/artist.jpg",
    alt: "Project thumbnail",
    position: "center"
  }}
  title="View Projects"
/>
<Cardobject
  image={{
    src: "/content/illus/artist.jpg",
    alt: "Project thumbnail",
    position: "center"
  }}
  title="View Projects"
/>
<Cardobject
  image={{
    src: "/content/illus/artist.jpg",
    alt: "Project thumbnail",
    position: "center"
  }}
  title="View Projects"
/>
<Cardobject
  image={{
    src: "/content/illus/artist.jpg",
    alt: "Project thumbnail",
    position: "center"
  }}
  title="View Projects"
/>
<Cardobject
  image={{
    src: "/content/illus/artist.jpg",
    alt: "Project thumbnail",
    position: "center"
  }}
  title="View Projects"
/>
<Cardobject
  image={{
    src: "/content/illus/artist.jpg",
    alt: "Project thumbnail",
    position: "center"
  }}
  title="View Projects"
/>
</div>